/* 
    Document   : style
    Created on : 10/07/2013, 23:22:26
    Author     : Cristopher
    Description:
        Purpose of the stylesheet follows.
*/


table tbody td .button{
    width: 100%;
    margin: 0;
}
table tr th, table tr td {
padding: 0 0.625em;
}

.scroll{
    height: 200px;
    overflow-x: hidden;       
}
select{
    background-color:rgba(255, 255, 255, 0.5);
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.875em;
    margin: 0 0 1em 0;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

select:focus{
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; 
    border-color: #999999;
    outline: none;
}

.ui-datepicker-title select{
    height: auto;
}

/*.styled-select select {
    background: transparent;

    padding: 5px;
    font-size: 1em;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
}*/