/* 
    Document   : style
    Created on : 10/07/2013, 23:22:26
    Author     : Cristopher
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #f9f9f9;
}
table tbody td .button{
    margin:  0;

}
table tr th, table tr td {
    padding: 0.5em 0.625em;
}
.bordaLabelRadio{
    border: 1px solid #999999;
    background:#75abff ;
    border-radius: 10px;

}
.scroll{
    height: 300px;
    overflow-y:auto;       
}
select{
    background-color:rgba(255, 255, 255, 0.5);
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.875em;
    margin: 0 0 1em 0;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.panel.mypanel{
    border-width:initial;
    margin-bottom: 0;
    padding: 0;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}


select:focus{
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; 
    border-color: #999999;
    outline: none;
}

.ui-datepicker-title select{
    height: auto;
}

input[type="text"].disabled,
input[type="password"].disabled,
input[type="date"].disabled,
input[type="datetime"].disabled,
input[type="datetime-local"].disabled,
input[type="month"].disabled,
input[type="week"].disabled,
input[type="email"].disabled,
input[type="number"].disabled,
input[type="search"].disabled,
input[type="tel"].disabled,
input[type="time"].disabled,
input[type="url"].disabled,
textarea.disabled {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: 1px solid #2ba6cb;
    box-shadow: none;    }

/*.styled-select select {
    background: transparent;

    padding: 5px;
    font-size: 1em;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
}*/

.errors {
    list-style: none;
    font-size: 0.8em;
    color: red;

}

div#nav {
    background-color:#111111;
    color: white;
    padding: 0 0 0 10px
}

div#nav a {
    padding: 0;
}
button, .button {
    margin: 0;
}

.ui-widget {
    font-size: 1em;
}
table thead, table tfoot ,table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f2f2f2;
}

@media print {
    nav{
        display: none;
    }
    .button {
        display: none;
    }
    form{
        display: none;
    }
    tr{
        border-bottom: 1px solid;
        border-top: 1px solid;
    }
    .scroll{
        height:auto;
        overflow:visible ;       
    }


}